
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

 #role
 {
   padding-left:35px;
 }
 .flt-right
 {
     float:right;
     padding-bottom:10px;
 }

 #dash-tab
 {
    font-size: 1rem;
 }

#th-cl1
{
  color: #FFFFFF;
  background-color: #0C9EE0;
  // background-color: #50677b;
  // border-color: #dee2e6;
}
.btn.btn-rounded {
  border-radius: 50px;
}
   