
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700');

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//MDB
// @import '~mdbootstrap/scss/mdb.scss';


@import '~admin-lte/dist/css/adminlte.css';

$fa-font-path: "../fonts/" !default;
@import '~font-awesome/scss/font-awesome.scss';

@import '~datatables.net-bs4/css/dataTables.bootstrap4.min.css';

@import url("https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css");

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
